/*****************************************************************************************
* Global Variables
*
*****************************************************************************************/

// sizes
@main-header-height: 48px;
@default-padding: 10px;

// colors
    // text
@light-text-color: rgb(172,172,172);
@medium-text-color: #666;
@dark-text-color: #333;
    // background
@background-color: rgb(240,241,242);
@background-light: #fff;
    // border
@medium-border-color: #c6c6c6;
@light-border-color: rgb(234,235,238);
@lighter-border-color: #e5e5e5;
    // others
@android-blue: #33b5e5;
@base-green: #18C018;

// list view
@list-view-title-text-shadow-color: white;
@list-view-title-text-color: rgb(102, 102, 102);
@list-view-item-background-color: white;
@list-view-item-seperator-color: @lighter-border-color;
@list-view-item-border-color: #c4c4c4;
@list-view-item-top-box-shadow-color: rgba(0,0,0,0.1);
@list-view-item-bottom-box-shadow-color: rgba(255,255,255,0.5);
@list-view-item-selected-background-color: #e2e2e2;
